<div [formGroup]="group">
  <div class="mb-4">
    <label class="block mb-1">Nombre</label>
    <input formControlName="name" class="input input-bordered w-full h-10 text-base" />
  </div>

  <div class="mb-4">
    @let controlPrice = group.get('price');

    <form-input-numeric formControlName="price" label="Price" mode="currency" [maxDecimals]="2" locale="es-ES"
      [min]="-100" [disable]="false" [status]="controlPrice?.errors ? 'error' : 'default'" [containerClass]="{
        'w-full': true,
        'border-purple-500': true
      }">
    </form-input-numeric>


    @if (controlPrice?.errors && controlPrice?.dirty) {
    <div class="mt-2 alert alert-error shadow-sm p-3 text-sm">
      <div class="flex flex-col gap-1">

        @if (controlPrice?.errors?.['required']) {
        <span>El campo es obligatorio</span>
        }

        @if (controlPrice?.errors?.['min']) {
        <span>
          El mínimo es {{ controlPrice?.errors?.['min']?.min }}
        </span>
        }

        @if (controlPrice?.errors?.['max']) {
        <span>
          El máximo es {{ controlPrice?.errors?.['max']?.max }}
        </span>
        }

        @if (controlPrice?.errors?.['format']) {
        <span>Dato no valido</span>
        }
      </div>
    </div>
    }
  </div>

  <div class="card bg-base-100 border border-base-300 p-4">
    @let controlDescription = group.get('description');

    <div class="font-medium mb-2">Descripción</div>

    <textarea formControlName="description" rows="3" placeholder="Describe el producto..." class="textarea w-full transition-all duration-200
           focus:outline-none focus:ring-2 focus:ring-primary" [ngClass]="{
      'border border-red-500 focus:ring-red-400': controlDescription?.errors && controlDescription?.dirty,
      'border border-base-300': !controlDescription?.errors
    }"></textarea>

    <!-- contador -->
    <div class="text-right text-xs opacity-50 mt-2">
      {{ controlDescription?.value?.length || 0 }}/500
    </div>

    <!-- error -->
    @if (controlDescription?.errors && controlDescription?.dirty) {
    <div class="mt-2 text-sm text-red-500 flex items-center gap-2">
      ⚠ Máximo 500 caracteres
    </div>
    }
  </div>


  <!-- Debug: Mostrar valor actual del campo 'name' -->
  @if( onDebug ){
  <div class="mt-2 p-2 bg-base-200 rounded">
    <strong>Valor actual (hijo):</strong>
    <pre>Name: {{ group.get('name')?.value }} </pre>
    <pre>Price (crude): {{ group.get('price')?.value }}</pre>
    <pre>Price (errors): {{ group.get('price')?.errors | json }}</pre>
    <pre>Deriptionc (errors): {{ group.get('description')?.errors | json }}</pre>
  </div>
  }
