<div class="mb-4">
  <label class="block mb-1">{{ label() }}</label>

  <div class="flex items-center border border-gray-300 rounded h-10 overflow-hidden focus-within:ring-2 focus-within:ring-blue-500">

    <!-- INPUT -->
    <input
      #inputRef
      type="text"
      (input)="onInput($event)"
      (blur)="onBlur()"
      (focus)="onFocus()"
      (keydown)="onKeyDown($event)"
      [attr.inputmode]="inputMode()"
      class="flex-1 px-3 h-full outline-none"
      [disabled]="isDisabled"
    />

    <!-- DISPLAY FORMATEADO (solo cuando NO está en focus) -->
    @if (!isFocused()) {
      <div class="px-2 text-gray-500 text-sm whitespace-nowrap">
        {{ displayValue() | decimalSeparator:locale():2:maxDecimals() }}
      </div>
    }

    <!-- SUFFIX -->
    @if (getSuffix()) {
      <div class="px-2 text-gray-500 text-sm whitespace-nowrap">
        {{ getSuffix() }}
      </div>
    }

    <!-- STEP -->
    @if (mode() === 'step') {
      <div class="flex flex-col border-l h-full">
        <button
          type="button"
          (click)="increment()"
          class="w-6 flex-1 text-xs flex items-center justify-center hover:bg-gray-100 active:bg-gray-200"
        >
          ▲
        </button>
        <button
          type="button"
          (click)="decrement()"
          class="w-6 flex-1 text-xs flex items-center justify-center hover:bg-gray-100 active:bg-gray-200 border-t"
        >
          ▼
        </button>
      </div>
    }

  </div>
</div>
